    /* html neden düşün */
    /* height: 100% ayarını yaparken html ve body etiketlerine bu özelliği vermemizin amacı, özellikle tam ekran düzenlerde sayfanın tamamının ekranın yüksekliğini kapsamasını sağlamaktır. Genel seçici * kullanmak ise aynı etkiyi sağlamaz, çünkü * seçici html ve body dışındaki tüm elementleri de kapsar ve tüm elemanların yüksekliğini %100 yapmaya çalışır, bu da istenmeyen sonuçlara yol açabilir. */
body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%; 
    font-family:'Lato', sans-serif;
    font-weight: 500;
    line-height: 1.8rem;
    color: #666;
    /* height: 100% ayarını kaldırırsanız:body etiketi yalnızca içerik kadar yükseklik alır. Yani ekranda yeterince içerik yoksa body etiketi ekranın altına kadar uzanmaz.body elementine height: 100% verilmezse, flex veya grid yapıları kullanıldığında tam boy çalışmayabilir. Tam ekran çalışan flex veya grid düzenleri oluşturmak için body ve html’e height: 100% ayarı eklemek gerekir. */
    
}
.background-container--image1{
    background-image: url(./images/bg.jpg);
    /* min-height: 100%; */
    height: 100%;
    background-position: center;
    background-size: cover;
 */

}
.background-container--image2{
    background-image: url(./images/bg2.jpg);
    height: 80%;
    background-position: center;
    background-size: cover;

}
.background-container--image3{
    background-image: url(./images/bg3.jpg);
    height: 80%;
    background-position: center;
    background-size: cover;

}
.background-container--image4{
    background-image: url(./images/bg4.jpg);
    height: 80%;
    background-position: center;
    background-size: cover;
    
}
.background-container--image1, 
.background-container--image2, 
.background-container--image3, 
.background-container--image4{
    position: relative;
    opacity: 0.7;
    background-attachment: fixed;

}
.heading-container{
    text-align: center;
    position: relative;
    top: 50%;
    width: 100%;
   
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
}
.heading-container__heading--big{
    background-color: rgb(15, 15, 15);
    text-transform: uppercase;
    padding: 2.5rem;
    outline: 7px inset purple;
    outline-offset: 1rem;
    letter-spacing: .7rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    font-size: 2.5rem;
}
img.heading-container__heading--logo{
    width: 30%; 
}
.heading-container__heading--small{
    background-color: rgb(15, 15, 15);
    padding: 1rem;
    outline: 7px inset purple;
    outline-offset: .2rem;
    letter-spacing: .7rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    font-size: 2.5rem;
} 
section{
    text-align: center;
    padding: 3rem;
}
.section--light{
    background-color: rgb(242, 242, 242);

}
.section--dark{
    background-color: rgb(39, 36, 36);
    color: white;
}