body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%; 
    font-family:'Lato', sans-serif;
    font-weight: 500;
    line-height: 1.8rem;
    color: #666;
    
}
.container-image1{
    background-image: url(./images/bg.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
}
.container-image2{
    background-image: url(./images/bg2.jpg);
    height: 80%;
    background-position: center;
    background-size: cover;

}
.container-image3{
    background-image: url(./images/bg3.jpg);
    height: 80%;
    background-position: center;
    background-size: cover;

}
.container-image4{
    background-image: url(./images/bg4.jpg);
    height:80%;
    background-position: center;
    background-size: cover;
}
.container-image1, 
.container-image2, 
.container-image3, 
.container-image4{
    position: relative;
    opacity: 0.7;
    background-attachment: fixed;
}
.heading{
    text-align: center;
    position: relative;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
}
.heading-big{
    background-color: rgb(15, 15, 15);
    text-transform: uppercase;
    padding: 2.5rem;
    outline: 7px inset purple;
    outline-offset: 1rem;
    letter-spacing: .7rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    font-size: 2.5rem;
}
img.heading-logo{
    width: 30%; 
}
.heading-small{
    background-color: rgb(15, 15, 15);
    padding: 1rem;
    outline: 7px inset purple;
    outline-offset: .2rem;
    letter-spacing: .7rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    font-size: 2.5rem;
} 
section{
    text-align: center;
    padding: 3rem;
}
section-light{
    background-color: rgb(242, 242, 242);

}
.section-dark{
    background-color: rgb(39, 36, 36);
    color: white;
}